{{ define "main" }}

<section>
    <h1>{{ .Title }}</h1>
    <article>
        {{ .Content }}
    </article>
</section>

<div class="filters">
    <!-- <label>
        <input type='checkbox' id='investigations' />
        Visual Forensics & Investigations
    </label>
    <label>
        <input type='checkbox' id='product-design' />
        HCI & Product Design
    </label>
    <label>
        <input type='checkbox' id='data-viz' />
        Data Visualizations & Stories
    </label>
    <label>
        <input type='checkbox' id='cartography' />
        Cartography / GIS
    </label>
    <label>
        <input type='checkbox' id='generative-art' />
        Generative Art, Artworks, & Exhibitions
    </label>
    <label>
        <input type='checkbox' id='computer-vision' />
        Computer Vision / ML
    </label>
    <label>
        <input type='checkbox' id='web-apps' />
        Web / Mobile Apps
    </label>
    <label>
        <input type='checkbox' id='graphic-design' />
        Graphic Design / Branding
    </label>
    <label>
        <input type='checkbox' id='events' />
        Events
    </label>
    <label>
        <input type='checkbox' id='creative-writing' />
        Creative writing & Editorial
    </label>
    <label>
        <input type='checkbox' id='art-exhibitions' />
        Art, Installations & Exhibitions
    </label> -->
</div>

<div class="blog-list">
    {{ range ( .Pages.ByParam "order" ) }}
    <a class="post type-{{ replace .Params.Type " " " type-"}}"
        href="{{ if .Params.External }}{{ .Params.External }}{{ else }}{{ .Permalink }}{{ end }}" target="_blank">
        <span class="title">{{ .Title }}</span>
        <span class="hline"></span>
        <span class="publishDate">{{ .Date.Format "Jan '06" }}</span>
    </a>
    {{ end }}
</div>

{{ end }}