{{ define "main" }}

<div class="main-paragraph">
  <p class="front-header">Karina Nguyen</p>

  <p class="front-text">
      I lead a research team at OpenAI, creating new interaction paradigms for reasoning interfaces and capabilities like ChatGPT canvas, streaming chain-of-thought for o1 models, and more via novel synthetic model training. 
  </p>

  <p class="front-text">
      Previously, I worked at Anthropic:
  </p>

  <div class="front-text">
      <ul>
          <li>Post-training (RLAIF/RLHF) and leading evaluations for the Claude 3 model series</li>
          <li>Training & productionizing cost-performance Pareto frontier models: Claude 3 Haiku, Claude Instant 1.2 in the API</li>
          <li>Researching Constitutional AI, model behavior, hallucinations, honesty, self-correction, refusals, faithful reasoning</li>
          <li>Building the file uploads feature to productionize 100K long-context capability</li>
          <li>Developing long-horizon & human feedback interfaces, Claude in Slack, and other unreleased products</li>
          <li>Writing the first 50,000 lines for the claude.ai and developer console</li>
          <li>+100 more things that you’d expect to do in a very fast-growing startup!</li>
      </ul>
  </div>

  <p class="front-text">
      Previously, as a product engineer/designer, I worked on R&D prototypes, engineering tools, and product features with teams at Primer.ai, Dropbox, Square, and the New York Times.
  </p>

  <p class="front-subheader">Research</p>
  <p class="front-text">
    Find all published research <a href="https://scholar.google.com/citations?hl=en&user=7T9uecIAAAAJ" target="_blank">here</a>.
</p>
  <div class="publications">
    <div class="paper">
      <p class="title">
        SimpleQA: Measuring Short-form Factuality in Large Language Models
      </p>
      <p class="authors">
        Jason Wei*, <a>Nguyen Karina*</a>, Hyung Won Chung, Yunxin Joy Jiao,
        Spencer Papay, Amelia Glaese, John Schulman, William Fedus
      </p>
      <p class="details">
        A factuality benchmark called SimpleQA that measures the ability for language models to answer short, fact-seeking questions.
      </p>
      <!-- <p class="type">In submission 2023</p> -->
      <div class="misc">
        <div>[<a href="https://cdn.openai.com/papers/simpleqa.pdf">Paper</a>]</div>
        <div>
          [<a
            href="https://github.com/openai/simple-evals"
            >Dataset</a
          >]
        </div>
      </div>
    </div>
    <div class="paper">
      <p class="title">
        Question Decomposition Improves the Faithfulness of Model-Generated Reasoning
      </p>
      <p class="authors">
        Ansh Radhakrishnan*, <a>Karina Nguyen*</a>, +18 more, Jared Kaplan, Jan Brauner, Samuel R. Bowman, Ethan Perez
      </p>
      <p class="details">
        By forcing the model to answer simpler subquestions in separate contexts, we greatly increase the faithfulness of model-generated reasoning over chain-of-thought (CoT), while still achieving some of the performance gains of CoT.
      </p>
      <!-- <p class="type">In submission 2023</p> -->
      <div class="misc">
        <div>[<a href="https://arxiv.org/pdf/2307.11768">Paper</a>]</div>
        <div>
          [<a
            href="https://github.com/anthropics/DecompositionFaithfulnessPaper"
            >Dataset</a
          >]
        </div>
      </div>
    </div>
    <div class="paper">
      <p class="title">
        Towards Measuring the Representation of Subjective Global Opinions in
        Language Models
      </p>
      <p class="authors">
        Esin Durmus, <a>Karina Nguyen</a>, Thomas I Liao, Nicholas Schiefer, +11
        more, Jared Kaplan, Jack Clark, Deep Ganguli
      </p>
      <p class="details">
        We develop a method to test global opinions represented in language
        models.
      </p>
      <p class="type">In submission 2023</p>

      <div class="misc">
        <div>[<a href="https://arxiv.org/pdf/2306.16388.pdf">Paper</a>]</div>
        <div>
          [<a
            href="https://huggingface.co/datasets/Anthropic/llm_global_opinions"
            >Dataset</a
          >]
        </div>
        <div>
          [<a href="https://llmglobalvalues.anthropic.com/">Interactive Map</a>]
        </div>
      </div>
    </div>
    <div class="paper">
      <p class="title">
        Discovering Language Model Behaviors with Model-Written Evaluations
      </p>
      <p class="authors">
        Ethan Perez, Sam Ringer*, Kamile Lukošiute*, <a>Karina Nguyen*</a>,
        Edwin Chen, Scott Heiner, +55 more, Nicholas Schiefer, Jared Kaplan
      </p>
      <p class="details">
        We test LMs using >150 LM-written evaluations, finding cases of inverse
        scaling, where models exhibit sycophantic behaviors.
      </p>
      <p class="type">ACL'23 (Findings)</p>

      <div class="misc">
        <div>[<a href="https://arxiv.org/abs/2212.09251">Paper</a>]</div>
        <div>[<a href="https://github.com/anthropics/evals">Evals</a>]</div>
        <div>
          [<a href="https://www.evals.anthropic.com/model-written/"
            >Data Visualization</a
          >]
        </div>
        <div>
          [<a
            href="https://huggingface.co/datasets/Anthropic/model-written-evals"
            >Dataset</a
          >]
        </div>
      </div>
    </div>
    <!-- <div class="paper">
      <p class="title">
        FAIR-Ensemble: When Fairness Naturally Emerges From Deep Ensembling
      </p>
      <p class="authors">
        Wei-Yin Ko, Daniel D'souza, <a>Karina Nguyen</a>, Randall Balestriero,
        Sara Hooker
      </p>
      <p class="details">
        We find compelling and powerful gains in worst-k and minority group
        performance, i.e. fairness naturally emerges from ensembling.
      </p>
      <p class="type">In submission 2023</p>

      <div class="misc">
        <div>[<a href="https://arxiv.org/pdf/2303.00586.pdf">Paper</a>]</div>
        <div>
          [<a href="https://github.com/dsouzadaniel/fair_ensemble">Code</a>]
        </div>
        <div>[<a href="https://fair-ensemble.github.io/">Website</a>]</div>
        <div>
          [<a
            href="https://colab.research.google.com/drive/1kNdgQlJdCAiOaLxYMpLhp0NoAdPZGTpJ?usp=sharing"
            >Interactive Notebook</a
          >]
        </div>
      </div>
    </div> -->
    <div class="paper">
        <p class="title">
            Towards Semantically-Aware UI Design Tools: Design, Implementation and Evaluation of Semantic Grouping Guidelines
        </p>
        <p class="authors">
          Peitong Duan, Bjorn Hartmann, <a>Karina Nguyen</a>, Yang Li, Marti Hearst, Meredith Ringel Morris
        </p>
        <p class="details">
          We develop computational metric to measure semantic grouping UI violations.
        </p>
        <p class="type">ICML Workshop'23</p>
  
        <div class="misc">
          <div>[<a href="https://research.google/pubs/towards-semantically-aware-ui-design-tools-design-implementation-and-evaluation-of-semantic-grouping-guidelines/">Google Research Blog</a>]</div>
          <!-- <div>
            [<a href="https://github.com/dsouzadaniel/fair_ensemble">Code</a>]
          </div> -->
        </div>
      </div>
  </div>

  <!-- <ul class="publication-list">
        <li> <a href="https://arxiv.org/abs/2212.09251"> Discovering Language Model Behaviors with Model-Written Evaluations </a></li>
    </ul> -->

  <p class="front-subheader">Investigations</p>

  <p class="front-text">
    My work in visual forensics & human rights contributed to the Pulitzer Prize reporting.
    That involved investigations of war crimes and crimes against humanity with extensive data collection, evidence verification, satellite analysis, 3D
    reconstructions, legal submissions, investigative tools, and applied remote sensing.  
  </p>

  <ul class="front-company-list">
    <li>
      <a
        href="https://www.bloomberg.com/graphics/2022-ukraine-culture-russia-war-map-building-preservation/"
      >
        Bloomberg CityLab
      </a>
    </li>
    <li>
      <a
        href="https://www.wired.com/story/cyber-war-crimes-sandworm-russia-ukraine/"
        >Wired</a
      >
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=ysAAZisYiUg">New York Times</a>
    </li>
    <li>
      <a
        href="https://www.washingtonpost.com/investigations/2020/07/14/george-floyd-protests-police-blinding/?arc404=true"
        >Washington Post</a
      >
    </li>
    <li>
      <a
        href="https://www.cnn.com/2022/06/10/tech/ukraine-war-crimes-blockchain/index.html"
        >CNN</a
      >
    </li>
    <li>
      <a
        href="https://apnews.com/article/myanmar-business-b2187c696e428139437778aeab0c43d4"
        >Associated Press</a
      >
    </li>
    <li>
      <a
        href="https://www.bellingcat.com/news/2022/03/17/hospitals-bombed-and-apartments-destroyed-mapping-incidents-of-civilian-harm-in-ukraine/"
        >Bellingcat</a
      >
    </li>
    <li>
      <a href="https://situ.nyc/research/projects/after-the-strike"
        >SITU Research</a
      >
    </li>
    <li>
      <a
        href="https://www.atlanticcouncil.org/blogs/new-atlanticist/two-weeks-that-shook-kharkiv/"
        >The Atlantic Council</a
      >
    </li>
    <li>
      <a href="https://teargas.amnesty.org/#top">Amnesty International</a>
    </li>
  </ul>


  <p class="front-subheader">Say Hi!</p>

  <p class="front-text">
    <ul class="front-company-list">
        <li>
          <a
            href="https://twitter.com/karinanguyen_"
          >
            Twitter
          </a>
        </li>
        <li>
            <a
              href="https://semaphore.substack.com/"
            >
            Newsletter
            </a>
          </li>
        <li>
            <a
              href="mailto:karinanguyen28@gmail.com"
            >
              Email
            </a>
          </li>
          <li>
            <a
              href="https://scholar.google.com/citations?hl=en&user=7T9uecIAAAAJ"
            >
            Google Scholar
            </a>
          </li>
    </ul>
    <!-- If you are interested in collaborating or sharing your ideas reach me at
    karinanguyen@berkeley.edu or shoot me a message on
    <a
      href="https://twitter.com/karinanguyen_"
      style="
        color: inherit;
        text-decoration: underline;
        text-decoration-color: #979595;
      "
      >Twitter</a
    >:) I do freelance in OSINT, design, and web development. You can also
    subscribe to my
    <a
      href="https://semaphore.substack.com/"
      style="
        color: inherit;
        text-decoration: underline;
        text-decoration-color: #979595;
      "
      >newsletter</a
    >. -->
  </p>
</div>

{{ end }}
